@import "./stylesStore/variables.scss";

.header {
  background-color: $color-backgroundWrapper !important;
  justify-content: center;
  // note: MUI appbar padding: 0 24px
  padding: 23px 4px;
  box-shadow: none !important;
  .logo {
    display: flex;
    align-items: center;
    width: 156.93px;
    height: 36px;
    margin-right: 20px;
  }
  .pageName {
    @include pageName;
    margin-left: 28px;
  }
  .searchBox {
    display: flex;
    align-items: center;
    width: 214.82px;
    height: 33.31px;
    position: relative;
    background-color: $color-background;
    border-radius: 6.66px;
    input {
      border: none;
      background-color: transparent;
      width: 100%;
      height: 100%;
      padding: 10px 12.5px;
      color: white;
    }
    input:focus {
      outline: none;
    }
    button {
      position: absolute;
      right: 12.5px;
      color: $color-searchIcon;
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      transition: 0.3s;
      &:hover {
        filter: invert(52%) sepia(77%) saturate(462%) hue-rotate(85deg)
          brightness(103%) contrast(98%);
      }
    }
  }
  .bellIcon {
    color: $color-searchIcon;
  }
}
