@import "./stylesStore/variables.scss";
.sidebar {
  width: 213.16px;
  min-height: calc(100vh - 75px);
  background-color: $color-backgroundWrapper;
  display: flex;
  flex-direction: column;
  //note:MuiButtonBase-root padding: 8px 16px 8px 24px
  padding: 25.31px 0 !important;
}
