@import "./stylesStore/variables.scss";
.sidebar {
  width: 213.16px;
  height: calc(100vh - 75px);
  background-color: $color-backgroundWrapper;
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    &:hover {
      background-color: $color-background;
    }

    .icon {
      color: $color-text;
    }

    .title {
      color: $color-text;
      @include title;
    }

    .active {
      color: $color-activePage;
      .iconNav {
        @include icon-active;
      }
    }

    .markPoint {
      position: absolute;
      right: 0;
    }
  }
}
